*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #B3D8A8;
  color: #FBFFE4;
  line-height: 1.6;
  display: inherit;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-content {
  display: flex;
  margin: 2rem 2rem 0rem 0rem;
}


/* --- Sidebar --- */
.sidebar {
  background-color: #3D8D7A;
  padding: 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 2rem;
  max-height: 500px;
}
.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #3D8D7A;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img i {
  font-size: 4em;
}

.sidebar h1 {
  font-size: 1.5rem;
  text-align: center;
}

.sidebar p {
  color: #FBFFE4;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-info div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-info span {
  margin-right: 0.5rem;
  width: 1.2em;
  text-align: center;
  color: #FBFFE4;
}
.contact-info a {
  color: #FBFFE4;
  text-decoration: none;
}

.social-links {
  margin-top: 1.5rem;
  align-items: center;
}

.social-links a {
  margin: 0 0.5rem;
  display: inline-block;
}

/* --- Main Content --- */
.main-content {
  /* width: 100%; */
  padding: 2rem 2rem 2rem 0rem;
}

.about-content {
  flex: 1; /* Take up remaining space */
}

.main-content section, .profile-content{
  background-color: #3D8D7A;
  padding: 20px;
  border-radius: 15px;
}
.main-content section{
  margin-bottom: 2rem;
}

.main-content h2, .about-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #B3D8A8;
  padding-bottom: 0.5rem;
  border-radius: 15px;
}

.main-content p , .about-content p{
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.grid-item, .about-content {
  /* background-color: #595858; */
  background-color: #3f9c86;
  padding: 1.5rem;
  border-radius: 8px;
}

.grid-item i {
  font-size: 2em;
  margin-bottom: 0.5rem;
  display: block; /* Make icons take full width */
}

.grid-item a {
  color: #83cbff;
  text-decoration: none;
}

.grid-item a:hover {
  color: #d4d6af; /* Example hover color, adjust as needed */
}

.skills-grid {
  margin-bottom: 2rem;
  gap: 2rem;
}
.skills-grid i {
  font-size: 3rem; /* adjust icon size */
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.skills-images {
  padding: 1rem;
  display: inline-block;
  position: inherit;
}

/*--- Desktop view  ---*/
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 20px; /*Make some space between sidebar and main*/
  }
  .sidebar {
    margin: 2rem; /*Reset margin in bigger screen*/
  }
}

/*--- Mobile Responsiveness ---*/
@media (max-width: 767px) {
  .container, .profile-content {
    flex-direction: column;
  }
  .sidebar {
    margin: 2rem 2rem 0;
    box-sizing: unset;
  }

  .main-content {
    padding: 2rem;
  }

  .profile-content {
    margin: 2rem 2rem 0 ;
  }
}

@media (max-width: 430px) {
  .sidebar {
    padding: 0 0 2rem 0;
  }
}

@media (max-width: 420px) {
  .sidebar {
    max-width: 350px;
    margin: 2rem auto 0;
    padding: 1rem;
    width: 77%;
  }
}

@media (max-width: 390px) {
  .sidebar {
    max-width: 294px;
    margin: 1rem auto 0;
    padding: 1rem;
  }
}
